textarea {
  display: block;
  margin: 0 auto;       /* center horizontally */
  width: 80%;           /* match button width */
  max-width: 450px;     /* prevent it from being too wide */
 

}

#message {
  display: block;      /* makes it take the full line */
  margin: 0 auto;      /* centers it horizontally */
  width: 80%;          /* set a reasonable width */
  max-width: 400px;    /* avoid stretching too wide */
  border-radius: 0;    /* square corners */
}

#sendButton {
  border-radius: 0;  

}

